* {
  margin: 0;
  padding: 0;
}
body {
  /* for form submit */
  background-color: rgb(225, 226, 228);
  
}
.signup-form {
  max-width: 250px;
  background-color: white;
  margin: 40px auto;
  padding: 20px;
}
input {
  display: block;
  margin: 10px auto;
  padding: 5px;
}