* {
  margin: 0;
  padding: 0;
}
body {
  /* for form submit */
  background-color: rgb(225, 226, 228);

}
.signup-form {
  max-width: 250px;
  background-color: white;
  margin: 40px auto;
  padding: 20px;
}
input {
  display: block;
  margin: 10px auto;
  padding: 5px;
}
#username:focus-visible {
  outline: none;
}
.success {
  border: 2px solid green;
}
.error {
  border: 2px solid red;
}

/* for digital CLOCK */
.clock {
  background-color: rgb(228, 155, 8);
  color: white;
  margin: 200px auto;
  padding: 20px;
  font-size: 2rem;
  width: 150px;
  align-items: center;
  border-radius: 10px;
}